/* Основной контент #primary.content-area #main.site-main */
/* Карусель */
.carousel-block {
    height: auto;
    .owl-theme .owl-nav [class*="owl-"] {
        background-color: $nav-carousel;
        &:hover {
            background-color: $blue;
        }
    }    
    .owl-carousel {
        margin: 1rem;
        .owl-stage {
            margin-bottom: 2rem;
        }
        .owl-prev {
            top: 35%;
            position: absolute;
            left: -20px; //-5px;
        }
        .owl-next {
            top: 35%;
            position: absolute;
            right: 0;
        }
    }
    .owl-stage-outer {
        /* padding-left: 1.8rem; */
        margin-left: -10px;
    }
}
.owl-item {
    img {
        //height: 100%;
        height: 100px;
    }
    .doc-item {
        border: 1px solid $doc-item-bc;
        border-radius: .25rem;
        display: flex;
        flex-direction: column;
        padding: .5rem;        
        p {
            align-self: center;
            font-size: .9rem;
        }
        h4.doc-item-title {
            align-self: center;
            font-size: .8rem;
            font-weight: 600;
            margin-bottom: 0;
            text-align: center;
            text-transform: uppercase;
        }
        p.doc-price-gznk {
            color: $price-gznk;
            font-weight: 500;
            margin-top: .3rem;
            margin-bottom: 0;
        }
        a.fbic {
            display: flex;
            justify-content: center;
            img {
                width: unset;
                max-width: 100%;
            }
        }
        p.doc-price-tpgrf {
            font-weight: 500;
        }
        a.btn.btn-danger {
            @include button_theme(0.3rem, 2rem);
            padding: 0.3rem 0;
            margin: 0 auto;
            margin-bottom: -1.5rem;
            width: 65%;
        }
    }
}
