/* Site Footer */
#footer {
    background: url(images/bg_footer.png) no-repeat left top $reviews-bg; // #5079CE; // $reviews-bg;
    color: #fff;
    margin-top: -3rem;
    //padding-top: 5rem;
    .footer-content {
         p.h4 {
            font-size: 1.35rem;
            font-weight: 400;
            margin-bottom: 0;
            margin-top: 2rem;
            padding-top: 3rem;
            text-transform: uppercase;
            width: 100%;
            & + p {
                margin-bottom: 0;
            }
        }
        .form-bar {
            display: flex;
            justify-content: space-between;
            margin: 1rem 0 0;
            width: 100%;
            p {
                //flex-grow: 2;
                width: 26%;
                //flex-basis: 24%;
                &:last-child {
                    display: flex;
                    height: 2.5rem;
                    width: 20%;
                    justify-content: flex-end;
                    .btn.btn-danger {
                        @include button_theme(0.3rem, 2rem);
                        display: flex;
                        width: 140%;
                    }
                }
            }
            input[type=submit] {
                justify-content: center;
            }
            .fa {
                color: #BD1818;
                position: relative;
                top: .7rem;                
            }
            .fa-angle-right {
                //position: relative;
                right: -2rem;
                //top: .7rem;
            }
            .fa-angle-left {
                //position: relative;
                //left: -3.5rem;
                left: -3rem;
                //top: .7rem
            }                 
            .form-control {
                background-color: $form-control-color;
                border: 2px solid $form-control-border;
                //width: 24%;
                &#inputStateFooter {
                    height: 2.8rem;
                }
            }            
        }
        .footer-widget-row {
            margin-top: 1rem;
            .study-cats {
                display: flex;
                width: 85%;
                .widget-title {
                    margin-bottom: 0;
                }
            }
            .widget.widget_nav_menu {
                padding-left: 2%;
            }
            .widget-title {
                font-size: .95rem;
                letter-spacing: .6px;
                list-style-type: none;
                text-transform: uppercase;
            }
        }
        ul {
            padding-left: 0;
            & > li {
                list-style-type: none;
                a {
                    color: #fff;
                    font-size: .85rem;
                }
            }
        }
        .details-body-row {
            .details-body-footer {
                margin-bottom: 1rem;
                &> p > a {
                    color: #fff;
                    display: block;
                    font-size: .9rem;
                    margin-right: 25%;
                    padding: .5rem;
                    i.fa {
                        color: $red;
                        margin-right: .3rem;
                    }
                }
                .details-tel {
                    a {
                        font-size: 1.1rem;
                    }
                }
                .details-que {
                    a {
                        color: $price-gznk;
                        text-decoration: underline;
                        text-decoration-style: dotted;
                        &:hover {
                            text-decoration: underline;
                        }                        
                    }
                }
    &> p:last-child > a {
        margin-right: 5%;
    }
            }
            p.smallp {
                font-size: .85rem;
            }
        }
        .site-branding-footer img {
            display: block;
            //margin: 0 auto;
            margin-left: -1rem;
        }
    }
    .study-link-title {
        a.active {
            color: $links-active-color;
            &:hover {
                cursor: default;
                text-decoration: none;
            }            
        }
    }
    #menu-menu-primary-links-1 {
        .current-menu-item {
            a {
                color: $links-active-color;
                &:hover {
                    cursor: default;
                    text-decoration: none;
                }
            }               
        }
    }    
}

#colophon {
    background-color: $reviews-bg;
    color: $link-reviews-hover;
    small {
        padding: .5rem;
    }
}