/* Форма ЗАКАЗАТЬ ДИПЛОМ */
//.page-id-6, // Главная страница
.page-id-328, // Страница Города
.page-id-487 {  // Страница Заказать диплом
    div.wpcf7 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
}
.wrap-form-order {
    background-image: url(images/frame.png);
    background-position: center top;
    //background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 30rem;
    margin: -1.5rem !important;
    margin-top: 1rem;
    h4 {
        align-self: center;
        background: url(images/strip_mdark.png) no-repeat center top;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 500;
        height: 5rem;
        letter-spacing: 2px;
        margin-top: 3.5rem;
        padding-top: .7rem;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }
    .form-oder {
        width: 65%;
        margin: 1rem auto;
        .form-control {
            align-self: center;
            background-color: $form-control-color;
            border: 2px solid $form-control-border;
            line-height: 1.4;
            margin: 0 auto;
        }
        p {
            margin: 0.7rem !important;
        }              
        .btn.btn-danger {
            @include button_theme(0.2rem, 2rem);
            align-self: center;
            margin: .5rem auto;
            padding: 0.65rem;
            width: 50%;
        }
        .fa {
            color: #BD1818;
        }
        .fa-angle-right {
            position: relative;
            right: -2rem;
            top: .2rem;
        }
        .fa-angle-left {
            position: relative;
            left: -3.5rem;
            top: .2rem
        }        
    }
    &::after {
        background: url(images/acap_books.png);
        content: "";
        right: -75%; //25%; // After activation CF7
        top: -45%; //45%;  // After activation CF7
        position: relative;
        width: 280px;
        height: 310px;
        z-index: 2;
    } 
}

// Для всех форм
.wpcf7-form-control.wpcf7-submit.btn.btn-danger {
    margin-bottom: 0;
}
.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors,
.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
    margin-top: 0;
    font-size: .85rem;
}
.wpcf7-form /* invalid */ {
    .wpcf7-not-valid-tip {
        font-size: .85rem;
    }        
}


/* Формы ЗАДАТЬ ВОПРОС, НАПИСАТЬ ОТЗЫВ, на странице Контакты (без имени) */
.wrap-faq-form-order,
.wrap-rev-form-order,
.wrap-kntkt-form-order {
    margin: -1.5rem !important;
    //margin-top: 1rem;
    h4 {
        align-self: center;
        background: url(images/strip_mdark.png) no-repeat center top;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 500;
        height: 5rem;
        letter-spacing: 2px;
        margin-top: 3.5rem;
        padding-top: .7rem;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }
    .form-oder {
        width: 65%;
        margin: 1rem auto .5rem; 
        .form-control {
            align-self: center;
            background-color: $form-control-color;
            border: 2px solid $form-control-border;
            line-height: 1.4;
            margin: .5rem auto;
        }        
        a.btn.btn-danger {
            @include button_theme(.2rem, .2rem);
            align-self: center;
            margin: 1rem auto;
            width: 60%;
        }
    }
    // After activation Contact Form 7:
    .wpcf7-form-control-wrap.contact-textarea {
        textarea {
            height: 6rem;
        }
    }
    p {
        margin: 0;
    }
    .wpcf7-form-control.wpcf7-submit.btn.btn-danger {
        @include button_theme(.3rem, .2rem);
        align-self: center;
        margin: 1rem auto;
        padding: .5rem;
        width: 45%;        
    }   
}

/* Форма ЗАКАЗАТЬ ДИПЛОМ (полная форма) на странице Заказать диплом */
#post-485 {
    .wrap-kntkt-form-order {
        .form-control {
            font-size: .8rem;
        }
        .btn.btn-danger {
            padding: .8rem 0;
            width: 26%;
        }
        .fa {
            color: #BD1818;
            position: relative;
            top: 40%;                       
        }
        .fa-angle-right {
            //position: relative;
            left: 40%;
            top: 40%;
        }
        .fa-angle-left {
            //position: relative;
            right: 42%;
            //top: 40%;
        }                
    }
}

/** 
 * Всплывающая форма ЗАДАТЬ ВОПРОС fancybox из шапки сайта
 * по ссылке Задать вопрос онлай.
 */
 .fancybox-stage {
    #contact_form_pop1 {
        background: transparent;
        width: 40%;
        .form-oder {
            p:last-child {
                text-align: center;
            }
        }
    }
 }