/* Содержимое страниц сайта .entry-content */
.breadcrumbs {
    color: $blue;
    font-size: .85rem;
    margin: 1rem 0 2rem 1.7rem;
    .current {
        color: lighten($blue, 12%);
    }
}
.entry-content {
    padding-left: 2.5rem;
    h1 {
        background: url(images/strip_mdlight.png) no-repeat center top;
        color: $reviews-title-color;
        font-size: 1.7rem;
        font-weight: 500;
        letter-spacing: 2px;
        margin-bottom: 1rem;
        padding: .8rem 1.1rem 1.1rem;
        text-align: center;
        text-transform: uppercase;
    }
    h2 {
        color: $blue;
        font-weight: 400;
        margin-top: 2rem;
        text-align: center;
    }    
    h3 {
        background: $title-prices-bg;
        color: $reviews-bg;
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: .8px;
        margin-bottom: 2px;
        padding: .5rem 1rem;
        text-transform: uppercase;
    }
    p {
        font-size: .85rem;
        margin: 1rem 0;
        text-align: center;
    }
    p.p-last {
        margin-bottom: 3rem;
    }
    p.p-first {
        margin-top: 2rem;
    }
}

#content {
    background: $white;
    border-top-left-radius: .3125rem;
    border-top-right-radius: .3125rem;
    box-shadow: 0 0 20px #bbb;    
}

#main article.page .sb-secondry {
    text-align: center;
}

// Стилизуем содержимое страницы Цены на документы
// Стили тега h2 см. в блоке entry-content
#post-369 h2 {
    background: url(images/strip_mdlight.png) no-repeat center top;
    color: #364B7F;
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    padding: .8rem 1.1rem 1.1rem;
    text-align: center;
    text-transform: uppercase;
}
.page-id-369 {
    .why-just-us-content {
        display: none;
    }
    .blank-top-row-content {
        border-bottom-left-radius: .3125rem;
        border-bottom-right-radius: .3125rem;        
        height: 6rem;
    }
}
.price-item {
    section {
        border: 1px solid $title-prices-bg;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 2px;
        padding: 1.5rem 0 1.5rem 1.5rem;
        a {
            display: block;
        }
        &:last-child {
            margin-bottom: 2rem !important;
        }
    }
    div.price-props {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 1.2rem;
        h4.price-item-title {
            margin-bottom: 0;
        }
    }
    p {
        font-size: .9rem;
        margin: 0;
        text-align: left;
    }
    h4.price-item-title {
        font-weight: 400;
        letter-spacing: -.5px;
        text-transform: uppercase;
        span {
            font-size: .85rem;
            font-weight: 300;
            text-transform: lowercase;
        }
    }
    p.page-price-gznk {
        color: $price-gznk;
        font-size: .85rem;
        font-weight: 500;
        margin-bottom: .3rem;
    }
    p.page-price-tpgrf {
        font-size: .85rem;
        margin-top: -1rem;
    }
    a.btn.btn-danger {
        @include button_theme(0, 0);
        display: block;
        padding: 0.3rem 0.75rem;
        width: 45%;
    }
}


/* Стилизуем содержимое остальных страниц сайта (отличных от front-page) */
.valid_goznak-pages {
    p {
        color: $valid-goznak-color;
        font-size: 1.8rem;
        font-weight: 300;
        letter-spacing: .8px;
        line-height: 1.3;
        text-transform: uppercase;
        span {
            font-weight: 700;
        }
    }
    .order_button {
        margin-bottom: 2rem;
        a.btn.btn-danger {
            @include button_theme(0.3rem, 1.5rem);
        }
    }
}
