/* Содержимое страниц сайта .entry-content */
.breadcrumbs {
    color: $blue;
    font-size: .85rem;
    margin: 1rem 0 2rem -1rem;
    .current {
        color: lighten($blue, 12%);
    }
}
.entry-content {
    padding-left: 2.5rem;
    h1 {
        background: url(images/strip_mdlight.png) no-repeat center top;
        color: $reviews-title-color;
        font-size: 1.7rem;
        font-weight: 500;
        letter-spacing: 2px;
        margin-bottom: 1rem;
        padding: .8rem 1.1rem 1.1rem;
        text-align: center;
        text-transform: uppercase;
    }
    h2 {
        color: $blue;
        font-weight: 400;
        margin-top: 2rem;
        text-align: center;
    }    
    h3 {
        background: $title-prices-bg;
        color: $reviews-bg;
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: .8px;
        margin-bottom: 2px;
        padding: .5rem 1rem;
        text-transform: uppercase;
    }
    p {
        font-size: .85rem;
        margin: 1rem 0;
        text-align: center;
    }
    p.p-last {
        margin-bottom: 3rem;
    }
    p.p-first {
        margin-top: 3rem;
    }
}

#content {
    background: $white;
    border-top-left-radius: .3125rem;
    border-top-right-radius: .3125rem;
    box-shadow: 0 0 20px #bbb;    
}

#main article.page .sb-secondry {
    text-align: center;
}

// Стилизуем содержимое страницы Цены на документы
// Стили тега h2 см. в блоке entry-content
#post-369 h2 {
    background: url(images/strip_mdlight.png) no-repeat center top;
    color: #364B7F;
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    padding: .8rem 1.1rem 1.1rem;
    text-align: center;
    text-transform: uppercase;
}
.page-id-369 {
    .why-just-us-content {
        display: none;
    }
    .blank-top-row-content {
        border-bottom-left-radius: .3125rem;
        border-bottom-right-radius: .3125rem;        
        height: 6rem;
    }
}
.price-item {
    section {
        border: 1px solid $title-prices-bg;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 2px;
        padding: 1.5rem 0 .8rem 1.5rem;
        a {
            display: block;
        }
        &:last-child {
            margin-bottom: 2rem !important;
        }
    }
    div.price-props {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 1.2rem;
        h4.price-item-title {
            margin-bottom: .5rem;
        }
        a.video-link {
            font-size: .8rem;
            position: relative;
            right: -68%;
            top: -13%;
            img {
                display: inline-block;
                margin-bottom: 3px;
                margin-right: 5px;
            }
            &:before {
                /* content: "";
                display: inline-block;
                background: url("images/i_filmstrip.png") no-repeat;
                width: 20px;
                height: 15px; */
            }
        }
    }
    p {
        font-size: .9rem;
        margin: 0;
        text-align: left;
    }
    h4.price-item-title {
        font-weight: 400;
        letter-spacing: -.5px;
        margin-bottom: .5rem;
        text-transform: uppercase;
        span {
            font-size: .85rem;
            font-weight: 300;
            text-transform: lowercase;
        }
    }
    p.page-price-gznk {
        color: $price-gznk;
        font-size: .85rem;
        font-weight: 500;
    }
    p.page-price-tpgrf {
        font-size: .85rem;
        margin-bottom: 1.3rem;
    }
    a.btn.btn-danger {
        @include button_theme(0, 0);
        display: block;
        padding: 0.3rem 0.75rem;
        width: 45%;
    }
}


/* Стилизуем содержимое остальных страниц сайта (отличных от front-page) */
.valid_goznak-pages {
    p {
        color: $valid-goznak-color;
        font-size: 1.8rem;
        font-weight: 300;
        letter-spacing: .8px;
        line-height: 1.3;
        text-transform: uppercase;
        span {
            font-weight: 700;
        }
    }
    .order_button {
        margin-bottom: 2rem;
        a.btn.btn-danger {
            @include button_theme(0.3rem, 1.5rem);
        }
    }
}

/* Стилизуем содержимое страницы Оплата и доставка */
#post-376 {
    .entry-content {
        .gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
    img.alignnone.wp-image-235 {
        width: 100%;
        height: 100%;
    }     
}

/* Стилизуем содержимое страницы Вопросы и ответы */
// Accordion
div.divaccordion  {
    margin-top: 2rem;
    .card {
        border-radius: 0;
        margin-bottom: 1rem;        
        .card-header {
            background-color: $form-control-border;
            border-radius: 0;
            border: 2px solid darken($form-control-border, 3.5%);
            h5 {        
                /* margin-bottom: 0;    
                margin-left: 2.5rem;
                margin-right: 1.5rem; */
                margin: auto 1.5rem 0 2.5rem; 
                text-transform: uppercase;
                p {
                    font-size: .9rem;
                    font-weight: 400;
                    line-height: 1.3;
                    margin: 0;
                    text-align: left;
                }
                a:hover {
                    text-decoration: none;
                }
                &:before {
                    content: "";
                    position:absolute;
                    //z-index: -1;
                    top: 1rem;
                    left: 3%;
                    width: 28px;
                    height: 24px;
                    background: url(images/i_que.png);
                }
                a i {
                    position: absolute;
                    right: 5%;
                    top: 1rem;
                }               
            }
        }
        .card-body {
            background-color: $faq-body-bg;
            border-right: none;
            border-bottom: none;
            border-left: 2px solid darken($faq-body-bg, 3.5%);
            p {
                font-size: .85rem;
                margin: 0;
                text-align: left;
            }
        }
    }
}
// Paginanation
.wrap-page-numbers {
    margin: 1.5rem 0;
}
.page-numbers {
    background-color: $blue;
    border: 2px solid $blue;
    border-radius: .25rem;
    color: $white; 
    padding: .23rem .4rem .1rem;
    &:hover {
        background-color: $doc-item-bc;
        border: 2px solid $doc-item-bc;
        color: $blue;
        text-decoration: none;
    }
    &.current {
        background-color: $white;
        color: $blue;
        &:hover {
            border: 2px solid $blue;            
        }
    }
}

/* Стилизуем содержимое страницы Статьи */
.article-links {
    background-color: $form-control-color;
    border: 1px solid darken($form-control-color, 3.5%);
    border-left: 2px solid darken($form-control-color, 7%);
    display: flex;
    margin: 1rem auto;
    .attachment-post-thumbnail {
        margin: 1rem 1.5rem;
    }
    .media-body {
        h4 {
            font-size: .9rem;
            font-weight: 500;
            margin: 1.5rem auto 1rem;
            text-transform: uppercase;
        }
        p {
            margin-right: .5rem;
            text-align: left;
        }
    }
}

/* Стилизуем содержимое страницы Отзывы */
#reviews {
    margin-top: 2rem;
}
.rev-props {
    background-color: $reviews-bg;
    border-radius: .3125rem;
    color: $white;
    margin-bottom: .3rem;
    padding: .5rem 1rem .5rem;
    .rev-item-name {
        border-bottom: 1px solid darken($white, 45%);
        font-size: .9rem;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        padding-bottom: .5rem;
        span.rev-item-date {
            background-color: $reviews-title-color;
            border-radius: .25rem;
            color: darken($white, 30%);
            padding: 0 .8rem;
        }
    }
    p {
        text-align: left;
    }
}

/* Стилизуем содержимое страницы Города */
.single-cities
    .breadcrumbs {
        span:nth-child(3) {
            display: none;
        }
        span:nth-child(4).sep {
            display: none;
        }       
    }
#post-328 {
    h1 {
        background: url(images/strip_cutlglight.png) no-repeat center top;
    }
}
.cities-links {
    column-count: 3;
    height: auto;
    list-style-position: inside;
    list-style-type: decimal;
    margin: 2rem auto;
    .city-link {
        ul {
            list-style-type: none;
            li.city-link-title {
                margin-bottom: .5rem;
                a {
                    font-size: .88rem;
                }
            }
        }
    }
}
.cities-ordeform {
    margin: 5rem auto;
}

/* Стилизуем содержимое страницы Контакты */
.page-id-357 {
    /* .wpcf7-form-control.wpcf7-submit.btn.btn-danger {
        margin-bottom: 0;
    }
    .wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors,
    .wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
        margin-top: 0;
    } */
    p.margin-y {
        margin: 3rem auto;
    }
    p.sm-text {
        font-size: .8rem;
    }
    .why-just-us.row {
        display: none;
    }
    .blank-top-row-content {
        border-bottom-left-radius: .3125rem;
        border-bottom-right-radius: .3125rem;       
        height: 5rem;
        margin-bottom: -2rem;
    }
    .addr-email {
        font-size: .9rem;
    }
    .tel-num a {
        color: $dark-grey-text;
        font-size: 1.1rem;
        font-weight: 500;
        margin-left: .2rem;
    }
}
#footer {
    margin-top: -2rem;
}

/* Стилизуем содержимое страницы вывода CPT study (Документы) шаблон сontent-study.php. */
// Верхние ссылки левого primary сайдбара.
/* .single-study */
.type-study { 
    .breadcrumbs {
        span:nth-child(3) {
            display: none;
        }
        span:nth-child(4).sep {
            display: none;
        }       
    }
    h1 {
        background: none;
    }
    .price-props {
        a, p {
            align-self: center;
        }
    }
    h2 {
        background: url(images/strip_mdlight.png) no-repeat center top;
        color: #364B7F;
        font-size: 1.7rem;
        font-weight: 500;
        letter-spacing: 2px;
        margin-bottom: 1rem;
        padding: .8rem 1.1rem 1.1rem;
        text-align: center;
        text-transform: uppercase;
    }
    .study-ul-menu {
        .study-link-title {
            a.active {
                background-color: $links-active-bg;
                border-bottom: none;
                color: $links-active-color;
                &:hover {
                    text-decoration: unset;
                }
            }
        }
    }
    #footer {
        .study-ul-menu {
            .study-link-title {
                a.active {
                    background-color: transparent;
                    color: $links-active-color;
                    cursor: default;
                }
            }
        }
    }
    .why-just-us {
        display: none;
    }
    .blank-top-row-content {
        border-bottom-left-radius: .3125rem;
        border-bottom-right-radius: .3125rem;
        height: 5rem;
        margin-bottom: -2rem;
    }
}
.study.type-study {
    .entry-content > img.wp-post-image {
        border: 1px solid $title-prices-bg;
        border-radius: .25rem;
        margin: 2rem auto;      
        padding: 1rem;
        width: 100%;
        height: auto;
    }
    .price-block {
        .price-item {
            section {
                border: none;
                justify-content: space-around;
                padding: .3rem 0 .8rem 0;
                .price-props {
                    justify-content: flex-start;
                    margin-left: 0;
                    .page-price-tpgrf {
                        margin-bottom: 0.3rem;
                    }
                }
                a.btn.btn-danger {
                    width: 100%;
                }
            }
        }
    }   
}

/* Стилизуем содержимое страницы Заказать диплом. */
.page-id-485 {
    .breadcrumbs {
        margin-left: .7rem;
    }
    .form-oder {
        width: 100% !important;
        .form-group {
            margin-bottom: 0;
            textarea {
                margin-bottom: 1.7rem;
            }
        }
        .btn.btn-danger {
            display: block;
            margin: 1rem auto;
            padding: .9rem 0;            
            width: 30%;
        }
    }
    .why-just-us {
        display: none;
    }
    .blank-top-row-content {
        border-bottom-left-radius: .3125rem;
        border-bottom-right-radius: .3125rem;       
        height: 4rem;
    }
    #footer {
        margin-top: -4rem;
    }
}

/* Стилизуем содержимое страницы Видео документов */
#post-487 {
    margin-bottom: 4rem;
    .entry-content h1 {
        margin-bottom: 1.5rem;
    }   
    .price-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 3rem;
        .all-video {
            iframe {
                margin-bottom: .5rem;
            }
        }
    }
}