/* xl-размер (>=1200px) */
/* CSS для >=1200px */
     
/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
    .fancybox-stage {
        .wrap-faq-form-order {
            h4 {
                background: $blue;
                border-radius: .3125rem;
                line-height: 2;
                padding: 1rem;
            }
            .form-oder {
                width: 100%;
            }        
        }
    }
}
     
/* md-размер (<=991px) */
@media only screen and  (max-width: 991px) {
  /* CSS для ширины от 768px до 991px */
    body.custom-background {
        background-position: center 2% !important;
    }
    .header-top {
        .details-body {
            align-items: center;            
            flex-direction: column;
            & > p {
                & > a {
                    padding-bottom: 0;
                    padding-top: 0;
                }
            }
        } 
    }    
    // .header-top {
    //     .details-body > p > a {
    //         margin-right: 0;
    //     }
    //     .navbar {
    //         justify-content: flex-end;
    //     }
    // }
    nav.navbar #navbarNavAltMarkup ul { 
        li {
            text-align: center;
            &>a {
                border-right: none;
                display: block;
                width: 100%;
            }
        }
    }
    nav.navbar #navbarNavAltMarkup ul li.current_page_item > a {
        border: 3px solid #d43434;        
        //border-right: 3px solid #d43434;    
    }
    .valid_goznak-pages p {
        font-size: 1.4rem;
        text-align: center;
        //background: $nav-carousel;
        //opacity: .5;
    }
    .valid_goznak-pages .order_button {
        display: flex;
        justify-content: center;
    }
    .breadcrumbs {
        margin-left: .1rem;
    }
    .entry-content {
        padding-left: 15px;
        padding-right: 15px;
    }
    #post-6, // Главная страница
    #post-328, // Страница Города
    #post-487 { // Страница Видео Документов
        .price-item {
            margin-bottom: 1rem;
        }        
        .entry-content {
             p.p-last {
                margin-bottom: 0;
            }           
            p.p-first {
                margin-top: 0;
            }            
            div.wpcf7 {
                display: inline;
            }
            .wrap-form-order {
                background-image: none;                
                h4 {
                    margin: 0;
                }
                &:after {
                    display: none;
                }
            }
        }
        /* .entry-content {
             p.p-last {
                margin-bottom: 0;
            }           
            p.p-first {
                margin-top: 0;
            }
        } */
        .wrap-form-order .form-oder {
            margin-top: -5rem;
            margin-bottom: -2rem;
        }
    
    }
    #post-6, // Главная страница
    .type-study {
        .carousel-block .owl-carousel {
            margin: 1rem auto;
            .owl-stage-outer {
                margin-left: -1px;
            }
            .owl-next {
                right: -20px;
            }
        }
    }
    .type-study h2 {
        margin-top: 3rem;
    }
    #post-369 { // Страница Цены
        .price-item section {
            align-items: center;
            flex-direction: column;
            padding-left: .5rem;
            a img {
                margin-bottom: .5rem;
            }
            div.price-props {
                display: contents;
                margin-left: 0;
                a.video-link {
                    margin-top: .5rem;
                    position: initial;                    
                }
            }
        }
    }
    #post-328 { // Страница Города
        h4 {
            line-height: 3;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .cities-links {
            margin-bottom: 0;
            .city-link {
                ul {
                    margin-bottom: 0;
                    li {
                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }                
            }
        }
        .cities-ordeform {
            margin-top: -2rem;
            margin-bottom: 0;
            h4 {
                padding-top: 0;
            }
        }
    }
    .single-study { // Страница CPT study (Документы)
        .entry-content p.p-last {
            margin-bottom: 0;
        }
    }   
    #sidebar-primary {
        .articles-cat-link ul {
            align-items: center;
            display: flex;
            flex-direction: column;
            padding-left: 0;
        }
    }
    #sidebar-primary .study-cats p.widget-title {
        background: url(images/strip_cutdark.png) center no-repeat;
        width: 43%;
    }
    #sidebar-primary .widget.widget_recent_comments {
        margin-left: 0;
        p.widget-title {
            background: $doc-item-bc; // #D3DCED;
            margin-left: 0;
            padding: 0;
            width: 100%;
            .widget-title-span {
                align-self: center;
            }
        }    
    }
    #sidebar-primary .widget.article-cats-item p.widget-title {
        width: 100%;
    }
    .articles-cat-link {
        margin-left: 15px;
    }
    #sidebar-secondary {
        #gallery-1,
        #gallery-2 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        } 
    }
    #footer .footer-content .details-body-row .details-body-footer {
        flex-direction: column;
        width: 100%;
        p {
            align-self: center;
            text-align: center;
            a {
                margin-right: 0;
            }
        }
    }     
    #footer .footer-content .details-body-row .details-body-footer > p > a {
        margin-right: 0;
    }
    #footer .footer-content .details-body-row .details-body-footer > p:last-child > a {
        margin-right: 0;
    }
    #footer .footer-content .details-body-row .details-body-footer > p > a i.fa {
        //display: none;
    }
    #footer .footer-content .form-bar .fa {
        display: none;
    }
}

/* sm-размер (<=768px) */
@media (max-width: 767px) { // не выделяется
  /* CSS для ширины от 576px до 767px */
    .header-topper {
        .site-branding {
            .custom-logo-link > img {
                height: 74px;
                width: 49px;
                position: relative;
                top: 3rem;
                right: -50%;
            }
        }
    }
    .header-top {
        .details-body > p > a {
            //padding: .5rem .5rem;            
            //font-size: .85rem;
            //font-size: .75rem;            
            //margin-right: 0;
        }
         i.fa {
             //display: none;
         }        
        .details-tel a {
            //font-size: .9rem;
        }
    }
    .valid_goznak {
        div.site-title {
            color: $valid-goznak-color;
            font-size: 1.7rem;
            top: 0.5rem;
            margin-bottom: 1rem;
        }
        img {
            display: none;
        }
    }
    .entry-content h1 {
        background-image: none !important;
    }
    .blank-top-row-content {
        border-bottom-left-radius: .3125rem;
        border-bottom-right-radius: .3125rem;
        height: 41px;
    }
    .wrap-form-order .form-oder {
        width: 90%;
    }
    #post-369 { // Страница Цены
        .price-item div.price-props a.video-link {
            margin-top: .5rem;
            position: initial;
        }
        .price-item a.btn.btn-danger {
            width: 50%;
        }
        section {
            padding-left: 0;
            a, p, h4 {
                align-self: center;
            }
        }        
    }
    #post-357 { // Страница Контакты
        .entry-content {
            h1 {
                margin-bottom: 0;
                padding-bottom: 0;
            }
            p.margin-y {
                margin-top: 1.5rem;
                margin-bottom: 2rem;
            } 
        } 
    }
    #post-485 .wrap-kntkt-form-order { // Страница-форма Заказать диплом (полная)
        .type-of-doc {
            margin-bottom: 1.4rem;
        }
        .date-your-birth {
            width: 100%;
        }
        .fa {        
            display: none;
        }
    }
    #post-485 .wrap-kntkt-form-order .form-control {
        width: 100%;
    }
    #sidebar-primary .study-cats p.widget-title {
        width: 61%;
    }    
    #page-bottom {
        display: none;
    }
    #footer {
        padding-top: 2rem;
        .widget.widget_nav_menu {
            display: none;
        }
    }
    #footer .footer-content p.h4 {
        margin-top: 1rem;
        padding-top: 1rem;
    }
    #footer .footer-content .details-body-row .details-body-footer {
        flex-direction: column;
        width: 100%;
        p {
            align-self: center;
            text-align: center;
            a {
                margin-right: 0;
            }
        }
    }    
    #footer .footer-content .details-body-row .details-body-footer > p > a {
        //font-size: .75rem !important;
        min-width: 140px;
    }
    #footer .footer-content .form-bar p:last-child .btn.btn-danger {
        width: 100%;
    }
    .fancybox-stage {
        #contact_form_pop1 {
            width: 80%;
        }
    }
}

/* xs-размер (<=575px) */
@media (max-width: 575px) {
  /* CSS для ширины до 575px (включительно) */
    .header-top {
        .details-body {
            align-items: center;            
            flex-direction: column;
        } 
    }
    .header-topper {
        .site-branding {
            .custom-logo-link > img {
                //top: 7rem;
            }
        }
    }      
    #post-6, { // Главная страница
        .wpcf7-form-control.wpcf7-submit.btn.btn-danger {
            width: 80%;
        }
    }
    .wrap-form-order {
        h4 {
            color: $reviews-title-color;
            background: none;
            margin-bottom: -5rem !important;
        }
        .form-order {
            width: 100%;
        }
    }
    .wrap-faq-form-order,
    .wrap-rev-form-order {
        h4 {
            color: $reviews-title-color;
            background: none;
            margin-top: 2rem;
            margin-bottom: -2rem;
        }
        .form-oder {
            margin-bottom: 2rem;
        }        
    }
    .wpcf7-form-control.wpcf7-submit.btn.btn-danger {
        width: 60% !important;
    }
    #post-369 { // Страница Цены
        h2 {
            background: none;
        }      
    }
    .type-study {
        section {
            flex-direction: column;
            padding-left: 0;
            a, p, h4 {
                align-self: center;
            }
            a.btn.btn-danger {
                margin-bottom: 1rem;
                width: 60% !important;
            }
            .page-price-gznk {
                text-align: center;
            }
        }        
    }
    .single-study {
        h2 {
            color: $reviews-title-color;
            background: none;
        }
    }   
    #post-376 #gallery-1 { // Страница Оплата и доставка
        flex-wrap: wrap;
    } 
    #post-328 { // Страница Города
        .cities-links .city-link ul {
            padding-left: .5rem;
        }
    }
    .article-links { // Страница Статьи
        .media-img-article {
            margin-right: 3rem;
            width: 40%;
        }
        .attachment-post-thumbnail {
            width: 100%;
            height: auto;
        }               
    }
    #sidebar-primary .study-cats p.widget-title {
        background: url(images/strip_cutdark.png) no-repeat;
        //text-align: left;
        width: 100%;
    }
    #footer {
        form.wpcf7-form {
            &>.row {
                margin-left: 10px;
                margin-right: 10px;
            }

        }
        .footer-content .form-bar {
            .form-control {
                font-size: .75rem;
                height: 2.1rem;
            }
            p:last-child .btn.btn-danger {
                font-size: .7rem;
                letter-spacing: 0;
                //padding-left: 6px;
                width: 88%;
            }
        }
        .details-body-footer {
            & > p {
                & > a {
                    font-size: .75rem;
                }
            }
        }
    }
    #footer {
        .study-cats {
            .study-cats-item {
                p.widget-title {
                    font-size: .8rem;
                    letter-spacing: -.5px;
                }
            }
            .study-link-title {
                line-height: 1;
                .a-study-link {
                    font-size: .7rem;
                }
            }
        }
    }
    // #footer .footer-content .details-body-row .details-body-footer {
    //     flex-direction: column;
    //     width: 100%;
    //     p {
    //         align-self: center;
    //         text-align: center;
    //         a {
    //             margin-right: 0;
    //         }
    //     }
    // }
    #footer .footer-content .details-body-row p.smallp {
        margin-left: 10px;
        margin-right: 10px;
    }
    #footer .footer-content .details-body-row p.makeorgblnk {
        font-size: .9rem;
        padding-left: 10px;
    }
    #footer .footer-content .site-branding-footer img {
        display: none;
    }
    #footer .footer-content .form-bar p:last-child .btn.btn-danger {
        width: 100% !important;
    }
    .fancybox-stage {
        #contact_form_pop1 {
            width: 90%;
            h4 {
                color: #fff;
                margin-bottom: .1rem;
            }
        }
    }    
}

/* размер (<=482px) */
@media (max-width: 482px) {
    .header-top {
        .details-body > p:last-child > a {
            //display: none;
        }
    }
}

/* размер (<=448px) */
@media (max-width: 448px) {
  /* CSS для ширины до 448px (включительно) */
    body.custom-background {
        background-position: center 2.5% !important;
    }
    body.page-id-369.custom-background {
        background-position: center 1% !important;
    }    
    .header-top {
        .details-body > p:last-child > a {
            //display: none;
        }
    }
    .wrap-faq-form-order,
    .wrap-kntkt-form-order,
    .wrap-rev-form-order {
        .form-oder {
            width: 90%;
        }        
    }
    #post-328 { // Страница Города
        h4 {
            line-height: 3;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .cities-links {
            display: flex;
            margin-bottom: 0;
            .city-link {
                flex-direction: column;
                width: 100%;
                ul {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 0;
                    padding-left: 0;
                    li {
                        align-self: center;
                        margin-top: .5rem;
                        &:first-child {
                            margin-top: 0;
                        }
                        a {
                            font-size: 1.6rem;
                        }
                    }
                }                
            }
        }
        .cities-ordeform {
            margin-top: -2rem;
            margin-bottom: 0;
            h4 {
                padding-top: 0;
            }
        }
    }
    #sidebar-primary .study-cats p.widget-title {
        width: 130%;
    }   
    #footer .footer-content p.h4 {
        font-size: 1rem;
    }
    .page-id-328 div.wpcf7, 
    .page-id-487 div.wpcf7 {
        //max-width: 100%;
    }
    #footer .footer-content .form-bar {
        flex-direction: column;
        p {
            width: 100%;
        }
    }
    #footer .footer-content .form-bar p:last-child {
        width: 70%;
        align-self: center;
        i.fa {
            display: inline-block;
        }
    }
    #footer .footer-content .details-body-row .details-body-footer > p:last-child > a {
        //display: none;
    }
    #footer {
        form {
            //display: none;
        }
        .footer-widget-row {
            display: none;
        }
        .details-body-footer {
            //margin-top: 2rem;
            //margin-left: 1rem;
        }
    }
}

/* размер (<=320px) */
@media (max-width: 320px) {
    .fancybox-stage {
        .wrap-faq-form-order {
            h4 {
                font-size: 1.2rem;
                height: 3rem;
                line-height: 1;
                padding-bottom: 0;
            }
        }
    }
}        