/* (<=448px) */
@media (max-width: 448px) {  
    #footer .footer-content .details-body-row .details-body-footer > p > a {
        min-width: 130px;
    }
}

/* xs (<=543px) */
@media (max-width: 575px) {  }
     
/* sm (>=576 и <=767) */
@media (min-width: 576px) and (max-width: 767px) {

}
     
/* md (>=768 и <=991) */
@media (min-width: 768px) and (max-width: 991px) {
    .valid_goznak {
        img {
            margin-left: 4%;
            width: 80%;
        }
        div.site-title {
            font-size: 1.5rem;
            top: 4.5rem;
            margin-left: -11%;
        }
        .order_button {
            justify-content: center;
        }
    }
    #post-369 .price-item section a {
        text-align: center;
    }
    #post-369 .price-item div.price-props a.video-link {
        text-align: left;
    }
    #post-369 .price-item section div.price-props {
        padding-left: 3rem;
    }
    .why-just-us-content {
        .card {
            .card-body {
                padding: .1rem !important;                
                p:before {
                    left: 24% !important;
                    top: 33% !important;                    
                }
                p {
                    font-size: .7rem !important;
                }
            }
        }
    }
    #page-bottom {
        .why-just-us-content {
            .card {
                .card-img-bg {
                    background-size: 100% 62%;
                    line-height: 2.3;
                    font-size: 45px;
                    padding-left: .5rem;
                }
            }            
        }
        .card-body {
            @for $i from 1 through 7 {
                p.card-text#{$i} {
                    margin-top: 0 !important;
                }
            }
        }        
    }
    #footer .footer-content .footer-widget-row {
        .study-cats {
            width: 100%;
        }
    }
    #footer .footer-content .details-body-row .details-body-footer > p > a {
        min-width: 180px;
    }
}
     
/* lg (>=992 и <=1199) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    // Главная страница
    .navbar-collapse ul#menu-menu-primary-links li.menu-item a {
        padding-left: 1rem;
        padding-right: 1rem;        
    } 
    .valid_goznak div.site-title {
        font-size: 2rem;
        top: 5.5rem;
    }
    .valid_goznak img {
        width: 98%;
        margin-left: .7rem;
    }
    .entry-content {
        padding-left: 3rem;
    }
    .page-id-6 { // Главная страница
        .entry-content {
            padding-right: 0;
        }
    }    
    .wrap-form-order {
        width: 120%;
    }
    .why-just-us-content {
        .card {
            .card-body {
                p:before {
                    left: 30% !important;
                    top: 37% !important;                    
                }
            }
        }
    }
    #sidebar-primary .widget p.widget-title, 
    #sidebar-primary .study-cats p.widget-title {
        width: 153%;
    }
    #sidebar-primary .widget.widget_recent_comments p.widget-title {
        width: 153%;
    }
    #sidebar-primary .widget.widget_recent_comments a.btn.btn-primary {
        width: 60%;
    }
    #sidebar-primary .widget.article-cats-item p.widget-title {
        width: 141%;
    }
    #sidebar-primary .widget.article-cats-item a.btn.btn-light {
        width: 53%;
    }
    aside#sidebar-secondary {
        //margin: 2rem 0 1rem 3rem;
    }
    #page-bottom {
        .why-just-us-content {
            .card {
                .card-img-bg {
                    background-size: 100% 86%;
                    line-height: 2.4;
                    font-size: 60px;
                    padding-left: .6rem;
                }
            }            
        }
    }  
    #footer .footer-content .form-bar .fa-angle-left {
        left: -2.8rem;
    }
    // Страница Цены
    .price-item div.price-props h4.price-item-title{
        margin-bottom: 0;
    }
    .price-item p.page-price-tpgrf {
        margin-bottom: 0.3rem;
    }
    .price-item div.price-props a.video-link {
        right: -48%;
    }
}
     
/* xl (>=1200) */
@media (min-width: 1200px) {  }